/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: unset;
}

address,
article,
aside,
blockquote,
canvas,
dd,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
li,
main,
nav,
noscript,
ol,
p,
pre,
section,
table,
tfoot,
ul,
video {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}
